# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\JAVA\[BC-JAVA-WBDS] Web Back-end Development with Spring MVC 2.0\module-4\1.ORMdemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
