<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-email-validation.main:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_email_validation_main_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-email-validation.main" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Gradle: org.springframework:spring-webmvc:5.2.12.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-web:5.3.4" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-context:5.2.12.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-aop:5.2.12.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-beans:5.3.4" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-expression:5.2.12.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-core:5.3.4" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-jcl:5.3.4" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="Spring-email-validation.main/web/Web" />
      <element id="javaee-facet-resources" facet="Spring-email-validation.main/web/Web Gradle : Spring-email-validation-1.0-SNAPSHOT.war" />
    </root>
  </artifact>
</component>